<!DOCTYPE html>
<html>
  <head>
    <title>Clubs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body class="bg-amber-200 min-h-screen flex flex-col">
    <nav class="bg-white shadow-md">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex">
            <div class="flex-shrink-0 flex items-center">
              <%= link_to 'Clubs', root_path, class: 'text-2xl font-bold text-gray-800' %>
            </div>
          </div>
          <div class="flex items-center">
            <ul class="flex space-x-4">
              <% if user_signed_in? %>
                <li>
                  <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }, class: 'bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600' %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'Login', new_user_session_path, class: 'bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600' %>
                </li>
                <li>
                  <%= link_to 'Sign up', new_user_registration_path, class: 'bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <main class="flex-grow container mx-auto p-4">
      <%= turbo_frame_tag "flash" do %>
        <% if notice %>
          <div class="bg-green-500 text-white p-4 rounded-md shadow-md mb-4">
            <%= notice %>
          </div>
        <% elsif alert %>
          <div class="bg-red-500 text-white p-4 rounded-md shadow-md mb-4">
            <%= alert %>
          </div>
        <% end %>
      <% end %>
      
      <%= yield %>
    </main>
  </body>
</html>
